# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.metro/
metro-cache/
.npm/

# Package managers lock files
yarn.lock

# dotenv environment variables file
.env

# Built application files
*.apk
*.ap_

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/gradlew
android/gradlew.bat

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcodeproj/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Miscellaneous
__tests__/
.git/
Gemfile
Thumbs.db
*.DS_Store
*.iml
.idea/
.vscode/

# macOS
*.DS_Store

# Windows
Thumbs.db

# Intellij
*.iml
.idea/

# Avoid tracking IDE project files
.vscode/
.idea/
*.iml

# Android Studio
.idea/
*.iml
.gradle/
local.properties